/*
@font-face {
    font-family: DPComic;
    src: url(dpcomic.ttf) format('truetype');
}
*/

@font-face {
    font-family: 'vcr_osd_monoregular';
    src: url('vcr_osd_mono_1.001-webfont.woff2') format('woff2'),
         url('vcr_osd_mono_1.001-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'minecraftmedium';
    src: url('minecraft-webfont.woff2') format('woff2'),
         url('minecraft-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
body {
	 background-color: #151515;
	  font-family: minecraftmedium;
}
	
#wrapper {
    margin: 0;
    padding: 0;
    background-color: #151515;
    /*font-family: vcr_osd_monoregular;*/
    font-family: minecraftmedium;
}

#wrapper {
    padding:0;
    padding-top:20px;
    margin: 0 auto;
    position:relative;
}

#instructions {
    float: left;
    /*font-family: sans-serif;*/
    /*font-family: minecraftmedium;*/
    color: #757575;
}

#score {
    /*font-family: minecraftmedium;*/
    float: right;
    color: white;
    font-size: 36px;
    
}

.key {
    color: #aaffdd;
    
}


#game-over, #game-over-overlay, #game-start, #game-start-overlay, #round-next, #round-next-overlay {
    margin: auto;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /*right: 0;
    bottom: 0;
    */
    z-index: 1;
    display: none;
}

#game-over-overlay, #game-start-overlay, #round-next-overlay {
    background-color: black;
    opacity: .2;
}

#game-start-overlay {
      opacity: .2;
}

#game-over, #game-start, #round-next {
    padding-top:200px;
    height: 200px;
    text-align: center;
    color: white;
}

#round-next {
    padding-top:165px;
}


#num-games {
    /*font-family: minecraftmedium;*/
  
    color: white;
    font-size: 36px;
    margin-top:15px;
    
}

#game-start {
    padding-top:120px;
}

#game-over h1, #game-start h1, #round-next h1 {
    font-size: 60px;
     font-family: minecraftmedium;
}

#game-over button, #game-start button, #round-next button {
    font-size: 24px;
    font-family: minecraftmedium;
}
 #game-start h1 {
   margin-bottom: 0px;
 }
#game-start, #game-start-overlay {
    display: block;
}

#round-next, #round-next-overlay {
    /*display: block;*/
}
#game-name, #next-round, #final-score{
    /*font-family: minecraftmedium;*/
    color:white;
    font-size:32px;
   
}

#game-start, #game-start-overlay {
    /*display: none;*/
}
#game-over h1 {
    margin-bottom:0px;
}
#game-over {
    padding-top:120px;
}

#game-over, #game-over-overlay {
    /*display: block;*/
}

#next-round {
    margin-top:10px;
}
#first-game {
     color:white;
    font-size:32px;
}