@font-face {
    font-family: DPComic;
    src: url(dpcomic.ttf);
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #151515;
}

#wrapper {
    padding:0;
    padding-top:20px;
    margin: 0 auto;
    position:relative;
}

#instructions {
    float: left;
    /*font-family: sans-serif;*/
    font-family: DPComic;
    color: #757575;
}

#score {
    font-family: DPComic;
    float: right;
    color: white;
    font-size: 36px;;
    
}

.key {
    color: #aaffdd;
    
}

#game-over, #game-over-overlay {
    margin: auto;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /*right: 0;
    bottom: 0;
    */
    z-index: 1;
    display: none;
}

#game-over-overlay {
    background-color: black;
    opacity: .2;
}

#game-over {
    padding-top:200px;
    height: 200px;
    text-align: center;
    color: white;
}

#game-over h1 {
    font-size: 60px;
     font-family: DPComic;
}

#game-over button {
    font-size: 24px;;
     font-family: DPComic;
}
#game-name {
    font-family:DPComic;
    color:white;
    font-size:32px;
    float: left;
}
